<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/assets/style.css" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway|Gaegu|Roboto+Slab|Merienda|Roboto|Merienda|Acme|Righteous|Khand" rel="stylesheet">
    <title>Marinara Organic</title>
  </head>
  <body>
    <div class="container">
        <div class="mo">
          <div class="m">Marinara</div>
          <div class="o">Organic</div>
        </div>

          <div class="localSun">
            <div class="btn1">
              <a href="/signin">Log In</a>
            </div>
            <div class="btn2">
              <a href="/signup">Sign Up</a>
            </div>
          </div>


          <p class="nApp"><a href="/todo">Skip</a></p>

    </div>
  </body>
</html>
