<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Marinara Organic</title>
  </head>
  <body>
    <header>
      <h1>This is the Explanation page</h1>
    </header>
    <div class="">
      Thanks for choosing us <%= user.firstname %>!
    </div>
    <div class="">
      How it Works – Marinara:
      Figuring out what to do and how to do it.
    </div>
    <br>
    <div class="">
      - After u read this you will be on your profile page.
      <br>
      - There will be certain features that you will see on there.
      <br>
      - You’ll see your profile picture.
      <br>
      - You’ll see your streaks and level next to your profile picture.
      <br>
      - There will be a button to add what you're going to do.
      <br>
      - Once you click on the button it will bring you to a page where you can add the items or how to do what you're trying to do.
      <br>
      - Once you finish the idea and your back on your profile page you will be able to edit your tasks.
      <br>
      - Editing your tasks will involve crossing off items that you did, you can drop items, and you can set up time prams.
      <br>
      - Once you complete the task you will get exp towards your level.
      <br>
      - Every time you completed a part of the task you'll see the progress on the can.
      <br>
      - You’ll also start your streak at 1 and if you keep completing thing every day you will keep increasing your streak.
    </div>

    <br>
    <br>
    <div class="">
      Continue to <a href="/home">Marinara Organic</a>!
    </div>

  </body>
</html>
