<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Gaegu|Quicksand|Roboto+Slab|Merienda|Roboto|Merienda|Acme|Righteous|Khand|Nunito" rel="stylesheet">
		<link rel="stylesheet" href="/assets/style.css" type="text/css"/>
    <title>Marinara Organic</title>
  </head>
  <body>
    <div class="infTitle">
      How Marinara Organic Works
    </div>

    <div class="tks">
      Thanks for using Marinara Organic <%= user.firstname %>!
    </div>
    <hr style="clear:left;">

    <div class="explCon">
      <div class="eachInf">
        - Marinara Organic is a To Do app that has a few more features than your regular, boring app.
      </div>
      <div class="eachInf">
        - These features include the ability to create tasks with items you need to do inside, and levels.
      </div>
      <div class="eachInf">
        - To create a Task - When on the home page, click "Add New Task", then put the name of the task in the box.
      </div>
      <div class="eachInf">
        - Inside those tasks, you need to create items which specify what you need to do to get the task done.
      </div>
      <div class="eachInf">
        - To add an Item, type in the box the name of the item, then press "Add Item".
      </div>
      <div class="eachInf">
        - Clicking on each Item marks it as done, once all the items are done, the task is finished.
      </div>
      <div class="eachInf">
        - You can click on the "X" next to a Task or an Item to delete it.
      </div>

    </div>
<hr style="clear:left;">
    <div class="infLik">
      Continue to <a href="/home">Marinara Organic</a>
    </div>

  </body>
</html>
